@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}


body {
  background: var(--background);
  font-family: koulen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
